@keyframes change-img {
    0% {
        background-image: url('../img24/Декоративный_скотч_1/DC1.jpg');
    }

    50% {
        background-image: url('../img24/Декоративный_скотч_1/DC2.jpg');
    }

    100% {
        background-image: url('../img24/Декоративный_скотч_1/DC1.jpg');
    }
}